<h2>List of all the Short Sequences</h2>
<a href="<%= new_short_sequence_path %>" class="btn btn-success">Add a new Tikee</a>
<br>
<br>

<% @shortSequence.each do |shortsequence| %>
	<a href="<%= short_sequence_path(shortsequence.id) %>" class="btn btn-primary" role="button" aria-pressed="true">
		Tikee n°<%= shortsequence.tikee_id %>
	</a>
<% end %>

<br>
<br>
<br>




<span>For information : <br>
Here is the Json object required</span>
<%= @shortSequenceJson %>
