<a href="<%= short_sequence_path(@shortSequence.id)%>" class="float-right btn btn-danger" data-confirm="Are you sure ?" data-method="DELETE" style="margin-left: 20px">Remove</a>
<a href="<%= edit_short_sequence_path(@shortSequence.id)%>" class="float-right btn btn-warning">Edit</a>
<br>
<br>
<ul class="list-group">
	<li class="list-group-item active"><h2>Details of the Tikee n°<%= @shortSequence.id %> in the Short Sequences</h2></li>
	<li class="list-group-item">name : <%= @shortSequence.name %></li>
	<li class="list-group-item">tikee_id : <%= @shortSequence.tikee_id %></li>
	<li class="list-group-item">description : <%= @shortSequence.description %></li>
	<li class="list-group-item">start : <%= @shortSequence.start %></li>
	<% if @shortSequence.errors[:interval].count >0 %>
		<li class="list-group-item" style="color:red"><%= @shortSequence.errors[:interval].first %></li>
	<% end %>
	<li class="list-group-item">interval : <%= @shortSequence.interval %></li>
	<% if @shortSequence.errors[:duration].count >0 %>
		<li class="list-group-item" style="color:red"><%= @shortSequence.errors[:duration].first %></li>
	<% end %>
	<li class="list-group-item">duration : <%= @shortSequence.duration %></li>
	<li class="list-group-item">upload_to_cloud : <%= @shortSequence.upload_to_cloud %></li>
	<li class="list-group-item">image_format : <%= @shortSequence.image_format %></li>
	<li class="list-group-item">keep_local_copy : <%= @shortSequence.keep_local_copy %></li>
	<li class="list-group-item">sequence_id : <%= @shortSequence.sequence_id %></li>
	<li class="list-group-item">shooting_status : <%= @shortSequence.shooting_status %></li>
	<% if @shortSequence.errors[:nb_images_on_sd].count >0 %>
		<li class="list-group-item" style="color:red"><%= @shortSequence.errors[:nb_images_on_sd].first %></li>
	<% end %>
	<li class="list-group-item">nb_images_on_sd : <%= @shortSequence.nb_images_on_sd %></li>
	<% if @shortSequence.errors[:nb_images_uploaded].count >0 %>
		<li class="list-group-item" style="color:red"><%= @shortSequence.errors[:nb_images_uploaded].first %></li>
	<% end %>
	<li class="list-group-item">nb_images_uploaded : <%= @shortSequence.nb_images_uploaded %></li>
</ul>
