<h1>Welcome to my test !</h1>


<p>Let you go though the CRUD I built and let me know what you think about it ! Enjoy !</p>


<div class="row">
	<div class="col">
		<a href="<%= short_sequences_path %>" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Edit Short Sequence</a>
	</div>
	<div class="col">
		<a href="<%= long_sequences_path %>" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Edit Long Sequence</a>
	</div>
</div>