<h1>Edit a Tikee</h1>

<%= form_for @longSequence do |f| %>
	<div class="form-group">
		<label>Name of the Tikee</label>
		<%= f.text_field :name, class: "form-control"%>
		<label>Id</label>
		<%= f.number_field :tikee_id, class: "form-control"%>
		<label>Description</label>
		<%= f.text_field :description, class: "form-control"%>
		<label>start</label>
		<%= f.datetime_field :start, class: "form-control"%>
		<label>end</label>
		<%= f.datetime_field :end, class: "form-control"%>
		<label>upload_to_cloud</label>
		<%= f.check_box :upload_to_cloud %><br>
		<label>image_format</label>
		<%= f.text_field :image_format, class: "form-control"%>
		<label>keep_local_copy</label>
		<%= f.check_box :keep_local_copy %><br>
		<label>infinite_duration</label>
		<%= f.check_box :infinite_duration%><br>
		<label>sequence_id</label>
		<%= f.number_field :sequence_id, class: "form-control"%>
		<label>shooting_status</label>
		<%= f.text_field :shooting_status, class: "form-control"%>
		<label>nb_images_on_sd</label>
		<%= f.number_field :nb_images_on_sd, class: "form-control"%>
		<label>nb_images_uploaded</label>
		<%= f.number_field :nb_images_uploaded, class: "form-control"%>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">
			Save
		</button>
	</div>
<% end %>