<h2>List of all the Long Sequences</h2>
<a href="<%= new_long_sequence_path %>" class="btn btn-success">Add a new Tikee</a>
<br>
<br>

<% @longSequence.each do |longsequence| %>
	<a href="<%= long_sequence_path(longsequence.id) %>" class="btn btn-primary" role="button" aria-pressed="true">Tikee n°<%= longsequence.tikee_id %></a>
<% end %>
