<a href="<%= long_sequence_path(@longSequence.id)%>" class="float-right btn btn-danger" data-confirm="Are you sure ?" data-method="DELETE" style="margin-left: 20px">Remove</a>
<a href="<%= edit_long_sequence_path(@longSequence.id)%>" class="float-right btn btn-warning">Edit</a>
<br>
<br>
<ul class="list-group">
	<li class="list-group-item active"><h2>Details of the Tikee n°<%= @longSequence.id %> in the Long Sequences</h2></li>
	<li class="list-group-item">name : <%= @longSequence.name %></li>
	<li class="list-group-item">tikee_id : <%= @longSequence.tikee_id %></li>
	<li class="list-group-item">description : <%= @longSequence.description %></li>
	<li class="list-group-item">start : <%= @longSequence.start %></li>
	<li class="list-group-item">end : <%= @longSequence.end %></li>
	<li class="list-group-item">upload_to_cloud : <%= @longSequence.upload_to_cloud %></li>
	<li class="list-group-item">image_format : <%= @longSequence.image_format %></li>
	<li class="list-group-item">keep_local_copy : <%= @longSequence.keep_local_copy %></li>
	<li class="list-group-item">infinite_duration : <%= @longSequence.infinite_duration %></li>
	<li class="list-group-item">sequence_id : <%= @longSequence.sequence_id %></li>
	<li class="list-group-item">shooting_status : <%= @longSequence.shooting_status %></li>
	<% if @longSequence.errors[:nb_images_on_sd].count >0 %>
		<li class="list-group-item" style="color:red"><%= @longSequence.errors[:nb_images_on_sd].first %></li>
	<% end %>
	<li class="list-group-item">nb_images_on_sd : <%= @longSequence.nb_images_on_sd %></li>
	<% if @longSequence.errors[:nb_images_uploaded].count >0 %>
		<li class="list-group-item" style="color:red"><%= @longSequence.errors[:nb_images_uploaded].first %></li>
	<% end %>
	<li class="list-group-item">nb_images_uploaded : <%= @longSequence.nb_images_uploaded %></li>
</ul>